<div class="row">

  <div [ngClass]="{
      'col-12': !presentAddProduct && !presentEditProduct,
      'col-9': presentAddProduct || presentEditProduct
      }">
    <button class="btn btn-dark" (click)="showAddProduct()">הוסף מוצר +</button>
    <a routerLink="/graph" routerLinkActive="active">
      <button class="btn btn-dark">פאנל סטטיסטיקה</button>
    </a>
    <a routerLink="/graph-directive" routerLinkActive="active">
      <button class="btn btn-dark">גרף + Directive</button>
    </a>
    <a routerLink="/stocks" routerLinkActive="active">
      <button class="btn btn-dark">חדשות ועדכוני בורסה</button>
    </a>
    <a routerLink="/maps" routerLinkActive="active">
      <button class="btn btn-dark">פריסת סניפים</button>
    </a>
    <a routerLink="/filter" routerLinkActive="active">
      <button class="btn btn-dark"> חיפוש ופילטר</button>
    </a>
    <br>
    <app-menu (selectCategoryEvent)="chooseCategory($event)"></app-menu>
    <br>
    <br>
    <br>

    <app-please-wait *ngIf="!products"></app-please-wait>

    <!-- <span *ngFor="let p of products" >
        <app-product-card *ngIf="selectedCategoryName == p.category.name" [product]="p"></app-product-card>
      </span> -->


    <span *ngIf="selectedCategoryName == ''">
      <!-- <app-product-card *ngIf="selectedCategoryName == p.category.name" [product]="p"></app-product-card> -->
      <app-products-card-admin *ngFor="let p of products" [product]="p"></app-products-card-admin>
    </span>

    <span *ngFor="let p of products">
      <!-- <app-product-card *ngIf="selectedCategoryName == p.category.name" [product]="p"></app-product-card> -->
      <app-products-card-admin *ngIf="selectedCategoryName == p.category.name" [product]="p"></app-products-card-admin>
    </span>


  </div>
  <!-- <app-admin-edit-product *ngIf = "presentEditProduct"  [productId]="productEditId" class="col-3"></app-admin-edit-product> -->
  <app-add-product *ngIf="presentAddProduct" (endOfProcess)="closeAddProduct($event)" class="col-3"></app-add-product>
</div>