@font-face {
    font-family: myFirstFont;
    src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
        url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
}

p {
    font-family: myFirstFont;
    font-size: 30px;
}